@keyframes custom-enter-right {
    0% {
        opacity: 0;
        transform: translate3d(1.5vmin, -0.0vmin, -0.1vmin);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, -0.1vmin);
    }
}

@keyframes custom-exit-right {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, -0.1vmin);
    }
    100% {
        opacity: 0;
        transform: translate3d(1.5vmin, 0, -0.1vmin);
    }
}

@keyframes custom-enter-left {
    0% {
        opacity: 0;
        transform: translate3d(-1.5vmin, -0.0vmin, -0.1vmin);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, -0.1vmin);
    }
}

@keyframes custom-exit-left {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, -0.1vmin);
    }
    100% {
        opacity: 0;
        transform: translate3d(-1.5vmin, 0, -0.1vmin);
    }
}

@keyframes custom-enter-center {
    0% {
        opacity: 0;
        transform: translate3d(0, -0.0vmin, -0.1vmin);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, -0.1vmin);
    }
}

@keyframes custom-exit-center {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, -0.1vmin);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 0.0vmin, -0.1vmin);
    }
}

@keyframes #{$rt-namespace}zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes #{$rt-namespace}zoomOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}

.#{$rt-namespace}zoom-enter {
    animation: #{$rt-namespace}zoomIn .3s cubic-bezier(.21,1.02,.73,1) forwards;
}

.#{$rt-namespace}zoom-exit {
    animation: #{$rt-namespace}zoomOut .3s cubic-bezier(.21,1.02,.73,1) forwards;
}